body{
    background-color: black;
    margin: 0;
}

.head {
    width: 100%;
    display: flex;
    top: 0;
    min-height: 30px;
    align-items: center;
}
.head_logo{
    color: white;
    font-size: 40px;
    font-weight: bold;
  width: 20%;
  margin-left: 40px;
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
}


.navmeny{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
    justify-content: flex-start;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
}

.navmeny ul {
    display: flex;
 list-style: none;
}

.navmeny li {
    padding: 20px;
}

.main{
    width: 100%;
    max-width: 1500px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_title{
    width: 50%; 
 
}

.text{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text h2{
    font-size: 84px;
    font-weight: 500;
    min-height: 20px;
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}

.text p {
    font-size: 22px;
    font-weight: 400;
    max-width: 280px;
    min-height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.image_main
{
    object-fit: cover;
    width: 50%;
}
img {
    display: flex;
    max-width: 500px;
    justify-content: center;

}

@media screen and (max-width: 750px) {
    .head{ 
        display: flex;
    }
    .head_logo{
        font-size: 24px;
    }
    .navmeny{
        font-size: 16px;
        display: flex;
    }
    .text p{
        font-size: 20px;
    }
    
    .text h2{
        font-size: 50px;
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    

    }
    .main_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .text{
        text-align: center;
        width: 500px;
    
    }
    .image_main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    img {
        width: 200px;
    }
}
@media screen and (max-width: 320px) {
    .head{ 
        width: 100%;
        display: flex;
    }
    .head_logo{
        font-size: 24px;
        width: 50px;
        margin-left: 0;
      
    }
    .navmeny{
       display: none;
    }
    .text p{
        font-size: 12px;
    }
    
    .text h2{
        font-size: 35px;
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    

    }
    .main_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .text{
        text-align: center;
        width: 500px;
    
    }

    .image_main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    img {
        width: 200px;
    
    
    }
}